# Python
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Env
.env
.env.*

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Server runtime data
server/projects/

# Node/npm
node_modules/
dist/
build/

# Tauri / Rust
src-tauri/target/
*.log
*.lock
/target
src-tauri/target/release/bundle/
